@media screen and (min-width: 768px) {

	.header_logo_outer:hover .header_logo_text {
		width: 100%;
		opacity: 1;
	}

	.header_logo_text:hover {
		color: #00aeef;
	}


	.about_section_left_side a:hover,
	.about_health_section_right_side a:hover,
	.work_section h3 a:hover,
	.location_section a:hover, {
		color: #00aeef;
	}

	.button a:hover {
		color: #fff;
		background: linear-gradient(to left, transparent 50%, #00aeef 50%);
		background-size: 200%;
		background-position:left bottom;
	}

	.work_section_client_item .sub_title:hover,
	.work_section_client_link:hover h3 {
		color: #00aeef;	
	}

	.work_section_client_link:hover .item_symbol {
		color: #000;
	}

	.work_section_client_link:hover .img-container img {
		transform: scale(1.1);
	}

	.work_section_client_item:hover .item_border {
		width: 100%;
	}

	.section_link:hover {
		color: #fff;
		background-color: #00aeef;
	}

	footer a:hover {
		color: #00aeef;
	}


}