@media screen and (max-width: 1370px) {
	.header_section_text {
		width: 100%;
	}
}

@media screen and (max-width: 780px) {
	.work_section_clients {
		flex-wrap: wrap;
	}


	.container {
		max-width: 560px
		width: 100%;
	}

	.about_section, 
	.about_health_section, 
	.careers_section, 
	.location_section {
		padding-top: 70px;
		padding-bottom: 80px;
	}

	.careers_section_left_side .section_link {
		margin-bottom: 20px;
	}

	.footer_inner {
		display: block;
	}

	.footer_left_side {
		display: flex;
		justify-content: start;
		border-bottom: 2px solid rgba(255,255,255,0.5);
		width: 100%;
	}

	.footer_bottom_list {
		display: inline;
	}

	.copyright {
		display: block;
		margin: 0 auto;
	}

	/*.footer_menu_item,*/
	.footer_bottom_item {
		display: inline;
	}

	.footer_bottom_item {
		/*width: 50px;*/
	}

	.footer_right_side_inner {
		padding-top: 40px;
		text-align: center;
		margin: 0 auto;
	}

	.footer_bottom_link {
		display: flex;
		justify-content: space-around;
		/*width: 200px;*/
	}
}

@media screen and (max-width: 770px) {
	.about_section {
		display: block;
	}

	.about_section_right_side, 
	.about_section_left_side, 
	.about_health_section_left_side, 
	.about_health_section_right_side, 
	.careers_section_right_side, 
	.careers_section_left_side, 
	.location_section_right_side, 
	.location_section_left_side {
		width: 100%;

	}

	.section_link {
		width: 100%;
	}

	.about_section, 
	.about_health_section, 
	.careers_section, 
	.location_section {
		display: block
	}

	.about_section_left_side h2, 
	.about_health_section_right_side h2, 
	.work_section h2, 
	.careers_section_left_side h2, 
	.location_section_right_side h2, 
	.news_section h2 {
		font-size: 24px;
	}

	.work_section_text_box p {
		max-width: 100%;
	}

	.about_health_section_right_side,
	.location_section_right_side {
		padding-left: 0;
	}
}
